@model Peca

<h2>Deseja excluir?</h2>

<p>@Model.Nome</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Excluir</button>
</form>